version: "3.8"

services:
  directus:
    image: directus/directus:latest
    restart: unless-stopped
    expose:
      - "8055"
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
      - ./tmp:/directus/tmp
    env_file:
      - .env
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
